

<h2>Последние новости</h2>
<ul>
  {% for post in pagination.items %}
    <li class="news-item">
      {% if post.data.image %}
        <img src="{{ post.data.image }}" alt="{{ post.data.title }}" class="news-image">
      {% endif %}
      <a href="{{ post.url }}" class="news-link">{{ post.data.title }}</a>
      <span class="news-date">{{ post.date | date("dd MMM yyyy") }}</span>
    </li>
  {% endfor %}
</ul>
